<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MayaMayaConnectionString"
         connectionString="Data Source=194.171.20.12; Initial Catalog=RBS_db01; User ID=RBS_grp01; Password=povFatNap4" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>